*.pyc
*.pyo
behaviours/*.pyc
entities/*.pyc
environment/*.pyc
sprites/*.pyc
utils/*.pyc
behaviours/*.pyo
entities/*.pyo
environment/*.pyo
sprites/*.pyo
utils/*.pyo
build/*
dist/colonylife/*
desktop.ini
*.spec